* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
   
    background-color:#6ca6ee;
    color: black;
    padding: 1rem;
  }
  .navlink{
    padding: 10px 15px; 
    margin-bottom: 10px;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 100%; 
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar a {
   
    color: black;
    text-decoration: none;
    font-weight: bold;
   
  }
  
  .main-content {
    display: flex;
  } 
  
  

  
  .weather-sidebar h2 {
    margin-bottom: 20px;
  }

   .weather-sidebar {
    background-color:#6ca6ee; 
    padding: 20px; 
    width: 250px; 
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .city-list {
    list-style-type: none; 
    padding: 0;
    margin: 0;
  }
  
  .city-button {
    background: linear-gradient(to bottom, #edaa3d,#3ab8f7);
 
    color:black; 
    border: none; 
    padding: 10px 15px;  
    margin-bottom: 10px; 
    border-radius: 5px; 
    cursor:pointer; 
    font-size: 16px; 
    width: 100%;
    text-align: center; 
    display: block; 
  }
  
  .city-button:hover {
    background-color: #165a9e; 
  }
  

  
   .content {
    flex: 1;
    padding: 1rem;
  }  
 
 /* Home.css */
.home-container {
  position: relative;
  width: 100vw; /* Full viewport width */
   height: 100vh; /* Full viewport height */
  overflow: hidden; /*Prevent scroll bars*/
  margin: 0; 
  padding: 0; /* Remove default padding  */
 }   

 .home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;/* Cover the entire container*/
  z-index: -1; /*Place behind other content*/
} 

 .overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
  z-index: 1; /*Place above the image*/
} 

 .asidebarrrr{
 height: 100%;
 
} 
